# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/.pnp
.pnp.js
**.bin
**/@aws-amplify

# testing
/coverage

# production
**/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local


# Node modules for frontend and backend
**/node_modules/

# Build outputs for frontend
frontend/build/
frontend/dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
frontend/.env
server/.env

# Build outputs for backend
server/build/
server/dist/
